        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 80px;
            transition: background-color .5s;
        }
        h1{
            font-size: 5.5rem;
            font-weight: 900;
        }
        .container{
            padding-top: 50px;
        }
        #box{
            width: 110px;
            height: 60px;
            background-color: black;
            border-radius: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 5px;
            position: relative;
        }
        #circle{
            width: 50px;
            height: 50px;
            position: absolute;
            background-color: white;
            border-radius: 100%;
            transition: transform 0.5s;
        }
        svg{
            width: 40px;
            height: 40px;
        }
        .movement{
            transform: translateX(50px);
        }
        .bg-black{
            background-color:black ;
            color: white;
        }
    